<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhjx.mage.dao.ContacPOMapper" >
  <resultMap id="BaseResultMap" type="com.hhjx.mage.po.ContacPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="background" property="background" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qq, wechat,background
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from contac
  </select>
  <update id="updateImg" parameterType="com.hhjx.mage.po.ContacPO" >
    update contac
    <set>
      <if test="qq != null and qq != ''" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null and wechat != ''" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="background != null and background != ''" >
        background = #{background,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>