<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhjx.mage.dao.IndexSystemPOMapper" >
  <resultMap id="BaseResultMap" type="com.hhjx.mage.po.IndexSystemPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="VARCHAR" />
    <result column="back_img" property="backImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, icon, title, star, back_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from index_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from index_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhjx.mage.po.IndexSystemPO" >
    insert into index_system (id, icon, title, 
      star, back_img)
    values (#{id,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{star,jdbcType=VARCHAR}, #{backImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hhjx.mage.po.IndexSystemPO" >
    insert into index_system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="backImg != null" >
        back_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="backImg != null" >
        #{backImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhjx.mage.po.IndexSystemPO" >
    update index_system
    <set >
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="backImg != null" >
        back_img = #{backImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhjx.mage.po.IndexSystemPO" >
    update index_system
    set icon = #{icon,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      back_img = #{backImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>