<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhjx.mage.dao.IndexNewsHonorPOMapper" >
  <resultMap id="BaseResultMap" type="com.hhjx.mage.po.IndexNewsHonorPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="t_index" property="index" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, t_index, text, img, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from index_news_honor
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByTitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from index_news_honor
    where title = #{title,jdbcType=VARCHAR} ORDER BY t_index
  </select>
  
  <select id="selectByStatus" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from index_news_honor
    where status = #{status,jdbcType=INTEGER} GROUP BY title
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from index_news_honor
    where title = #{title,jdbcType=VARCHAR}
  </delete>
  <insert id="insertList" parameterType="java.util.List" >
    insert into index_news_honor ( title, t_index, 
      text, img, status)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.title,jdbcType=VARCHAR}, #{item.index,jdbcType=INTEGER}, 
      #{item.text,jdbcType=VARCHAR}, #{item.img,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR})
    </foreach>
    
  </insert>
  <insert id="insertSelective" parameterType="com.hhjx.mage.po.IndexNewsHonorPO" >
    insert into index_news_honor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null and title != ''" >
        title,
      </if>
      <if test="index != null and index != ''" >
        t_index,
      </if>
      <if test="text != null and text != ''" >
        text,
      </if>
      <if test="img != null and img != ''" >
        img,
      </if>
      <if test="status != null and status != ''" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null and title != ''" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="index != null and index != ''" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="text != null and text != ''" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhjx.mage.po.IndexNewsHonorPO" >
    update index_news_honor
    <set >
      <if test="title != null and title != ''" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="index != null and index != ''" >
        t_index = #{index,jdbcType=INTEGER},
      </if>
      <if test="text != null and text != ''" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhjx.mage.po.IndexNewsHonorPO" >
    update index_news_honor
    set title = #{title,jdbcType=VARCHAR},
      t_index = #{index,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>