<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhjx.mage.dao.SystemCliTbPOMapper" >
  <resultMap id="BaseResultMap" type="com.hhjx.mage.po.SystemCliTbPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fa_id" property="faId" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fa_id, img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_cli_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByFaId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_cli_tb
    where fa_id = #{faId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_cli_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hhjx.mage.po.SystemCliTbPO" >
    insert into system_cli_tb (id, fa_id, img
      )
    values (#{id,jdbcType=INTEGER}, #{faId,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhjx.mage.po.SystemCliTbPO" >
    insert into system_cli_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="faId != null" >
        fa_id,
      </if>
      <if test="img != null and img != ''" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faId != null" >
        #{faId,jdbcType=INTEGER},
      </if>
      <if test="img != null and img != ''" >
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhjx.mage.po.SystemCliTbPO" >
    update system_cli_tb
    <set >
      <if test="faId != null" >
        fa_id = #{faId,jdbcType=INTEGER},
      </if>
      <if test="img != null and img != ''" >
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhjx.mage.po.SystemCliTbPO" >
    update system_cli_tb
    set fa_id = #{faId,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>